{%  load static %}





<script>

  $(function() {
    $("#query").autocomplete({
      source: "/search_auto/",
      select: function (event, ui) { //item selected
        AutoCompleteSelectHandler(event, ui)
      },
      minLength: 2,
    });
  });

  function AutoCompleteSelectHandler(event, ui)
  {
    var selectedObj = ui.item;
  }

</script>

<!-- Header Section Begin -->
    <header class="header-section">
        <div class="header-top">
            <div class="container">
                <div class="ht-left">

                     <ul class="custom-menu">
                        <li><a href="#"><i class="fa fa-user-o"></i>My Account</a>  </li>
                        <li><a href="/logout/"><i class="fa fa-user-o"></i>Logout</a>  </li>
                         <li><a href="#"><i class="fa fa-user-o"></i>Join</a>  </li>

                    </ul>
                </div>


                <div class="ht-right">

                    {% if user.id is not None %}
                        <a href="#" class="login-panel"><i class="fa fa-user"></i>{{ user.first_name }}</a>

                    {% else %}
                        <a href="/login/" class="login-panel"><i class="fa fa-user"></i>Login</a>

                    {% endif %}





                </div>


            </div>
        </div>
        <div class="container">
            <div class="inner-header">
                <div class="row">
                    <div class="col-lg-2 col-md-2">
                        <div class="logo">
                            <a href="./index.html">
                                <img src="{% static 'img/logo.png'%}" alt="">
                            </a>
                        </div>
                    </div>

                    <div class="col-lg-7 col-md-7">
                        <div class="advanced-search">
                            <form action="/search/" method="post">
                                {%  csrf_token %}

                                    {% load mptt_tags %}
                                   <select class="input search-categories">
                                       <option value="0">All Categories</option>

                                       {% recursetree category %}
                                          {% if node.is_leaf_node %}
                                              <option value="{{ node.id }}">{{ node.title }}</option>
                                          {% endif %}

                                           {% if not node.is_leaf_node %}
                                           <optgroup label="{{ node.title }}">
                                                 {{ children }}
                                           </optgroup>
                                           {% endif %}

                                       {% endrecursetree %}
                                   </select>

                                   <input id="query" name="query" type="text" placeholder="What do you need?">




                                   <button type="button"><i class="ti-search"></i></button>

                            </form>
                        </div>
                    </div>


                    <div class="col-lg-3 text-right col-md-3">
                        <ul class="nav-right">
                            <li class="heart-icon">
                                <a href="#">
                                    <i class="icon_heart_alt"></i>
                                    <span>1</span>
                                </a>
                            </li>
                            <li class="cart-icon">
                                <a href="#">
                                    <i class="icon_bag_alt"></i>
                                    <span>3</span>
                                </a>
                                <div class="cart-hover">
                                    <div class="select-items">
                                        <table>
                                            <tbody>
                                                <tr>
                                                    <td class="si-pic"><img src="{% static 'img/select-product-1.jpg'%}" alt=""></td>
                                                    <td class="si-text">
                                                        <div class="product-selected">
                                                            <p>$60.00 x 1</p>
                                                            <h6>Kabino Bedside Table</h6>
                                                        </div>
                                                    </td>
                                                    <td class="si-close">
                                                        <i class="ti-close"></i>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="si-pic"><img src="{% static 'img/select-product-2.jpg'%}" alt=""></td>
                                                    <td class="si-text">
                                                        <div class="product-selected">
                                                            <p>$60.00 x 1</p>
                                                            <h6>Kabino Bedside Table</h6>
                                                        </div>
                                                    </td>
                                                    <td class="si-close">
                                                        <i class="ti-close"></i>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="select-total">
                                        <span>total:</span>
                                        <h5>$120.00</h5>
                                    </div>
                                    <div class="select-button">
                                        <a href="#" class="primary-btn view-card">VIEW CARD</a>
                                        <a href="#" class="primary-btn checkout-btn">CHECK OUT</a>
                                    </div>
                                </div>
                            </li>
                            <li class="cart-price">$150.00</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- Header End -->