{% load static %}


<script>

    $(function () {
        $("#query").autocomplete({
            source: "/search_auto/",
            select: function (event, ui) { //item selected
                AutoCompleteSelectHandler(event, ui)
            },
            minLength: 2,
        });
    });

    function AutoCompleteSelectHandler(event, ui) {
        var selectedObj = ui.item;
    }

</script>


<header class="header-section">
    <div class="header-top">
        <div class="container">


            <div class="ht-right">


                {% if user.id is not None %}
                    <a href="#" class="login-panel">

                        <img src="{{ request.user.profile.image.url }}">

                        <strong>{{ user.first_name }}</strong>

                    </a>

                {% else %}
                    <a href="/login/" class="login-panel"><i class="fa fa-user"></i>Login</a>

                {% endif %}


                <div class="top-social">
                    <strong><a href="/sss"> FAQ</a> </strong>

                    <a href="#"><i class="ti-facebook"></i></a>
                    <a href="#"><i class="ti-twitter-alt"></i></a>
                    <a href="#"><i class="ti-linkedin"></i></a>
                    <a href="#"><i class="ti-pinterest"></i></a>
                </div>


            </div>


        </div>
    </div>
    <div class="container">
        <div class="inner-header">
            <div class="row">

                <div class="col-lg-7 col-md-7">
                    <div class="advanced-search">
                        <form action="/search/" method="post">
                            {% csrf_token %}

                            {% load mptt_tags %}
                            <select name="catid" class="input search-categories">
                                <option value="0">All Categories</option>

                                {% recursetree category %}
                                    {% if node.is_leaf_node %}
                                        <option value="{{ node.id }}">{{ node.title }}</option>
                                    {% endif %}

                                    {% if not node.is_leaf_node %}
                                        <optgroup label="{{ node.title }}">
                                            {{ children }}
                                        </optgroup>
                                    {% endif %}

                                {% endrecursetree %}
                            </select>


                            <input id="query" name="query" type="text" placeholder="What do you need?">

                            <button type="button"><i class="ti-search"></i></button>


                        </form>
                    </div>
                </div>


            </div>
        </div>
    </div>
</header>
