<table>

    <ul class="dropdown">
        <h3 align="left"> Menu</h3>
        <tr>&nbsp;</tr>
        <hr>
        <td>


            <tr>
                <li><a href="/user">User Profile</a></li>
            </tr>
            <tr>
                <li><a href="#">My Comments</a></li>
            </tr>
            <tr>
                <li><a href="#">My Favorits</a></li>
            </tr>
            <tr>
                <li><a href="#">My Apartments</a></li>
            </tr>
            <tr>
                <li><a href="/logout">Logout</a></li>
            </tr>
        </td>
    </ul>
</table>